
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid" style="background-color: aliceblue;">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
              <h3><a href="#" class="navbar-brand">Home Page</a></h3>
              <form action="" method="POST" class="d-flex">
                <a class="btn btn-primary" href="/logout" role="button">Logout</a>
            </div>
          </nav>
        <div class="text-center center-div" id="login" style="height: 925px; padding-top: 400px;">
            <h3>Welcome To Dashboard</h3>
            <h5>IAM ADITHYAN</h5>
            <a class="btn btn-outline-primary" href="/logout" role="button">Logout</a>
        </div>
    </div>
</body>
</html>